h1{
    background-color: black;
    color: red;
}
p{
    background: yellowgreen;
    color: green;
}

header{
    background: blanchedalmond;
    color: rgb(236, 21, 21);
}
header nav ul li a{
    color: rgb(51, 4, 8);
}
section{
    background: rgb(224, 211, 211);
    color: rgb(238, 15, 64);
}
div{
    background: purple;
    display: inline-block;
    width: 300px;
    height: 50px;
}
footer{
    background-color: aliceblue;
}
